body{
    font-family: 'Victor Mono', monospace;
}

/* color palette  */
.army-green{
    color: #2C4001;
}
.bg-army-green{
    background-color: #2C4001;
}
.dark-green{
    color: #1A2601;
}
.bg-dark-green{
    background-color: #1A2601;
}
.avo-green{
    color: #C6D93B;
}
.bg-avo-green{
    background-color: #C6D93B;
}
.beige{
    color: #D9CFA0;
}
.bg-beige{
    background-color: #D9CFA0;
}
.wood{
    color: #A65746;
}
.bg-wood{
    background-color: #A65746;
}
.blue{
    color:#417CF2;
}
.bg-blue{
    color:#417CF2;
}

.bg-faint-blue{
    background:#0070ff12;
}
.bg-soft-blue{
    background:#0070ff21;
}
/* color palette  */

/* 844 908 2544 */
.glow{
   box-shadow :  1px 2px 9px 4px white;
}
.glow:hover{
   box-shadow :  1px 2px 9px 4px rgb(0, 0, 0);
}
a{
    text-decoration: none;
}

body{
    background-color: #D9CFA0;
}